{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col">
		<h2>Groups</h2>	
		<ul>
			<li>
				<a href="#">Add Group</a>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col">
		<h4>Groups List</h4>
	</div>
</div>



{% endblock %}