{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row justify-content-md-center mt-5">
	<div class="col col-lg-3">
		<div class="card">
			<h4 class="text-center">Total Users</h4>
			<h2 class="text-center mt-3">
			    {{ users|length }}
			</h2>
			
		</div>
    </div>
    
    <div class="col col-lg-3">
      	<div class="card">
			<h4 class="text-center">Total Groups</h4>
			<h2 class="text-center mt-3">
			    {{ groups|length }}
			</h2>
		</div>
    </div>
  </div>

{% endblock %}