{% extends 'base.html.twig' %}

{% block body %}

<h2>Users</h2>

<div class="row">
	<div class="col">
		<ul>
			<li>
				<a href="#">Add User</a>
			</li>
		</ul>
	</div>
</div>


<div class="row">
	<div class="col">
		<h4>Users List</h4>
	</div>
</div>



{% endblock %}